/* reset css code
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/


* {
  margin: 0
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*ADD OWN CODE FROM HERE */
header {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

main {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: darkgreen;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.taskForm {
  text-align: center;
}

.taskList {
  width: 350px;
  margin: 0 auto;
  padding-top: 15px;
}

p {
  display: inline;
  margin-left: 10px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.clearButton {
    text-align: center;
}

.button {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  width: 100px;
}

.userInput {
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.userSubmit {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: darkgreen;
  color: white;
}

.completedItem {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  border-color: darkgreen;
  background-color: white;
  color: darkgreen;
}
